<div class="container">
    <app-rool-loader (uploaded)="UpdateRoll($event)" (badlyUploaded)="Roll=null"
        [ThrowOffEvent]="ThrowOffEvent.asObservable()"></app-rool-loader>
    <div class="content block-center-parent" *ngIf="Roll!==null">
        <div class="block-center">
            <div class="d-flex">
                <app-my-input-number [(MyNgModel)]="Value" [IsAllowFloat]="true"></app-my-input-number>
                <app-datalist [Options]="UnitsOfMeasurement" (myInput)="UnitOfMeasurementEvent=$event"
                    [Value]="UnitOfMeasurement"></app-datalist>
            </div>
            <button type="button" class="btn btn-primary mx-auto" (click)="Send()"
                [disabled]="!UnitOfMeasurementEvent.IsCorrect">Изменить</button>
        </div>
    </div>
</div>