<div class="list-of-rolls-grid-container" [ngClass]="{'EvenElement':EvenElement}">
    <div class="item">{{Roll.Id}}</div>
    <div class="item">{{Roll.Provider}}</div>
    <div class="item">{{Roll.Material}}</div>
    <div class="item">{{Roll.Color}}</div>
    <div class="item">{{Roll.Quantity}}</div>
    <div class="item">{{Roll.Location}}</div>
    <div class="item">{{Roll.DateArrival}}</div>
    <div class="item">{{Roll.InTheWorkshopWith|date:'dd.MM.yy H:mm'}}</div>
    <div class="item item_last">{{Roll.Comment}}</div>
</div>