<div class="list-of-rolls-grid-container" [ngClass]="{'EvenElement':EvenElement}">
    <div class="item">{{Roll.Id}}</div>
    <div class="item">{{Roll.Name}}</div>
    <div class="item">{{Roll.Provider}}</div>
    <div class="item">{{Roll.Color}}</div>
    <div class="item">{{Roll.Material}}</div>
    <div class="item">{{Roll.Comment}}</div>
    <div class="item">{{Roll.Quantity}}</div>
    <div class="item">{{GetLocation()}}</div>
    <div class="item item_last">{{Roll.DateArrival}}</div>
</div>