.element {
    width: 50%;
    display: flex;
    border: solid 1px;
    page-break-inside: avoid;
    page-break-after: always;
}

.qr {
    width: 40%;
}

.data {
    width: 60%;
}

.code-text {
    text-align: center;
}

.value {
    font-size: 1.2em;
}

.d-flex {
    page-break-inside: auto;
}