<div class="container">
    <app-rool-loader (uploaded)="Roll=$event" (badlyUploaded)="Roll=null"
        [ThrowOffEvent]="ThrowOffEvent.asObservable()"></app-rool-loader>
    <div class="content d-flex" *ngIf="Roll!==null">
        <div class="w-50">
            <button type="button" class="btn btn-primary " (click)="SetRollLocation()">Перенести в склад</button>
        </div>
        <div class="line-left"></div>
        <div class="line-right"></div>
        <div class="w-50">
            <app-datalist [Optuons]="Counterparties" (myInput)="CounterpartyEvent=$event"> </app-datalist>
            <button type="button" class="btn btn-primary mx-auto" (click)="SendToCounterparty()"
                [disabled]="!CounterpartyEvent.IsCorrect">Передать Контрагентам</button>
        </div>
    </div>
</div>