<div class="container">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 cell" routerLink="add-roll">
            <div class="text-center">Добавить рулоны</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 cell" routerLink="list-of-batches-of-rolls">
            <div class="text-center">Список пачек рулонов</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 cell" routerLink="specify-storage-cell">
            <div class="text-center">Указать ячейку хранения рулона</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 cell" routerLink="list-of-rolls">
            <div class="text-center">Список рулонов</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 cell" routerLink="transferring-rolls-to-workshop">
            <div class="text-center">Перенос рулонов в цех</div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 cell" routerLink="report-that-roll-is-used-up">
            <div class="text-center">Cообщить что рулон израсходован</div>
        </div>
    </div>
</div>