.my-container {
    width: 21cm;
}

.element {
    width: 50%;
    display: flex;
    border: solid 1px;
}

.qr {
    width: 40%;
}

.data {
    width: 60%;
}

.code-text {
    text-align: center;
}

.value {
    font-size: 1.2em;
}

.pagebreak {
    clear: both;
    break-before: always;
}