<div class="my-container">
    <div *ngFor="let list of Lists;let index=index" class="list ">
        <div class="d-flex flex-wrap">
            <div *ngFor="let roll of list.Rolls;let index=index" class="element">
                <div class="data">
                    <div class="data mx-auto">{{roll.DateArrival}}</div>
                    <div class="flex-break"></div>
                    <div class="value mx-3">{{roll.Provider}}</div>
                    <div class="value mx-3">{{roll.Material}}</div>
                    <div class="value mx-3">{{roll.Color}}</div>
                    <div class="value mx-3">{{roll.Quantity}}</div>
                    <div class="value mx-3" *ngIf="roll.Comment!==''">Коментарий: {{roll.Comment}}</div>
                </div>
                <div class="qr">
                    <app-qr [Value]="roll.Id"></app-qr>
                    <div class="code-text">{{roll.Id}}</div>
                </div>
            </div>
        </div>
        <div class="pagebreak"> </div>
    </div>
</div>