<div class="my-container">
    <div class=" flex-wrap">
        <div *ngFor="let roll of Rolls" class="container-element">
            <div class="element">
                <div class="data">
                    <div class="data mx-auto">{{roll.DateArrival}}</div>
                    <div class="flex-break"></div>
                    <div class="value mx-3">{{roll.Provider}}</div>
                    <div class="value mx-3">{{roll.Material}}</div>
                    <div class="value mx-3">{{roll.Color}}</div>
                    <div class="value mx-3">{{roll.Quantity}}</div>
                    <div class="value mx-3" *ngIf="roll.Comment!==''">Коментарий: {{roll.Comment}}</div>
                </div>
                <div class="qr">
                    <app-qr [Value]="roll.Id"></app-qr>
                    <div class="code-text">{{roll.Id}}</div>
                </div>
            </div>
        </div>
    </div>
</div>