.my-container {
    width: 100%;
}

.container-element {
    display: inline-block;
    width: 50%;
}

.element {
    display: flex;
    border: solid 1px;
    page-break-inside: avoid;
    page-break-after: auto;
}



.qr {
    width: 40%;
}

.data {
    width: 60%;
}

.code-text {
    text-align: center;
}

.value {
    font-size: 1.2em;
}

.d-flex {
    page-break-inside: auto;
}