.content {
    @media print {
      //  display: none;
    }
}

app-printer {
    display: none;

    @media print {
        display: block;
    }
}
app-header{
    @media print {
        display: none;
    }
}