<div class="container ">
  <div class="row">
    <div class="mb-3 border col-md-3 col-sm-6" *ngIf="!IsChanges">
      <label for="#QuantityRoll" class="form-label">Количество</label>
      <input type="number" #QuantityRoll (input)="OnInputQuantityRoll(QuantityRoll.value)" class="form-control" min="0"
        max="100">
    </div>
    <div class="mb-3 border col-md-3 col-sm-6">
      <label class="form-label w-100">Дата Прихода</label>
      <input type="date" #dateArrival (input)="InputBatch.DateArrival=dateArrival.value" />
    </div>
    <div class="mb-3 border col-md-6 col-sm-12">
      <label class="form-label">Поставщик</label>
      <app-datalist [Optuons]="GetListOfProperties('In')" (myInput)="ProviderEvent=$event"
        [Value]="InputBatch.Provider">
      </app-datalist>
    </div>
    <div class="mb-3 border col-md-4">
      <label class="form-label">Цвет</label>
      <app-datalist [Optuons]="GetListOfProperties('Colors')" (myInput)="ColorEvent=$event" [Value]="InputBatch.Color">
      </app-datalist>
    </div>
    <div class="mb-3 border col-md-4">
      <label class="form-label">Материал</label>
      <app-datalist [Optuons]="GetListOfProperties('Materials')" (myInput)="MaterialEvent=$event"
        [Value]="InputBatch.Material"> </app-datalist>
    </div>
    <div class="mb-3 border col-12 col-md-4">
      <label class="form-label">Коментарий</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
        [(ngModel)]="InputBatch.Comment"></textarea>
    </div>
    <div class="mb-3 border col-12 col-md-2" *ngIf="!IsChanges">
      <label class="form-label">Единица измерения</label>
      <app-datalist [Optuons]="UnitsOfMeasurement" (myInput)="UnitOfMeasurementEvent=$event"></app-datalist>
    </div>
  </div>
  <div class="rolls" *ngIf="!IsChanges">
    <app-roll *ngFor="let iterRoll of InputBatch.Rolls;let i=index" [Roll]="iterRoll" [Index]="i"></app-roll>
    <div> Кол-во рулонов {{CalculationOfRolls()}}{{UnitOfMeasurementEvent.Value}}</div>
  </div>
  <div class="container">
    <button type="button" class="btn btn-outline-primary" (click)="Save()"
      [disabled]="ButtonDisabled()">
      Сохранить</button>
  </div>
</div>