<div class="container ">
  <div class="row">
    <div class="mb-3 col-md-3 col-sm-6" *ngIf="!IsChanges">
      <app-my-input-number Min="1" Max="100" [(MyNgModel)]="QuantityRoll" Placeholder="Количество"
        [IsAllowFloat]="true">
      </app-my-input-number>
    </div>
    <div class="mb-3 col-md-4 col-sm-6">
      <mat-form-field appearance="fill">
        <mat-label>Дата Прихода</mat-label>
        <input matInput [matDatepicker]="picker" autocomplete="off" [(ngModel)]="Date">
        <mat-hint>ДД.ММ.ГГГГ</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mb-3 col-md-5 col-sm-12">
      <app-datalist [Options]="GetListOfProperties('In')" Placeholder="Поставщик" (myInput)="ProviderEvent=$event"
        [Value]="InputBatch.Provider">
      </app-datalist>
    </div>
    <div class="mb-3 col-md-4">
      <app-datalist [Options]="GetListOfProperties('Colors')" Placeholder="Цвет" (myInput)="ColorEvent=$event"
        [Value]="InputBatch.Color">
      </app-datalist>
    </div>
    <div class="mb-3 col-md-4">
      <app-datalist [Options]="GetListOfProperties('Materials')" Placeholder="Материал" (myInput)="MaterialEvent=$event"
        [Value]="InputBatch.Material"></app-datalist>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-floating mb-3">
        <textarea autosize minHeight="calc(3.5rem + 2px)" class="form-control" id="exampleFormControlTextarea1" rows="1"
          [(ngModel)]="InputBatch.Comment" placeholder=" "></textarea>
        <label>Коментарий</label>
      </div>
    </div>
    <div class="mb-3 col-12 col-md-4" *ngIf="!IsChanges">
      <app-datalist [Options]="UnitsOfMeasurement" Placeholder="Единица измерения"
        (myInput)="UnitOfMeasurementEvent=$event"></app-datalist>
    </div>
  </div>
  <div class="rolls" *ngIf="!IsChanges">
    <app-roll *ngFor="let iterRoll of InputBatch.Rolls;let i=index" [Roll]="iterRoll" [Index]="i"></app-roll>
    <div> Кол-во рулонов {{CalculationOfRolls()}}{{UnitOfMeasurementEvent.Value}}</div>
  </div>
  <div class="container">
    <button type="button" class="btn btn-outline-primary" (click)="Save()" [disabled]="ButtonDisabled()">
      Сохранить</button>
  </div>
</div>