.header {
    font-weight: 700;
}

.item {
    border: solid 1px rgb(93 93 93);
    overflow-wrap: anywhere;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: aqua;
    }
}

.my-table {
    min-width: 50em;
}

.w-100 {
    overflow: auto;
    max-width: 100%;
    border-top: 1px solid rgb(0 0 0);
    border-bottom: 1px solid rgb(0 0 0);
}

.t-body {
    page-break-inside: auto;
}

.roll-container {
    page-break-inside: avoid;
    page-break-after: auto;
}

.menu {
    position: fixed;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.noprint {
    @media print {
        display: none;
    }
}

.printbutton {
    margin-right: 0px !important;
    margin-left: auto !important;
}

.my-table {
    height: calc(100vh - 12rem);

    @media(max-width:420px) {
        height: calc(100vh - 18rem);
    }
}