.header {
    font-weight: 700;
}

.item {
    border: solid 1px rgb(93 93 93);
    overflow-wrap: anywhere;
    cursor: pointer;
    user-select: none;
    &:hover {
        background-color: aqua;
    }
}

.my-table {
    min-width: 750px;
}

.w-100 {
    overflow: auto;
    max-width: 100%;
}