<div class="container-lg">
    <div class="search">
        <input class="form-control" placeholder="Поиск" [(ngModel)]="Search" (input)="UpdateSerch()">
        местоположение
        <div class="input-group mb-3">
            <input type="checkbox" class="btn-check" autocomplete="off" #cheak1 [(ngModel)]="SerchNotSpecified"
                [ngModelOptions]="{standalone: true}" (change)="UpdateSerch()">
            <label class="btn btn-outline-primary input-group-checkbox ww" appHtmlFor
                [appHtmlForInput]="cheak1">Н/y</label>

            <input type="checkbox" class="btn-check" autocomplete="off" #cheak2 [(ngModel)]="SearchInWarehouse"
                [ngModelOptions]="{standalone: true}" (change)="UpdateSerch()">
            <label class="btn btn-outline-primary" for="btn-check-outlined" appHtmlFor [appHtmlForInput]="cheak2">На
                складе</label>

            <input type="checkbox" class="btn-check" autocomplete="off" #cheak3 [(ngModel)]="SearchInWorkshop"
                [ngModelOptions]="{standalone: true}" (change)="UpdateSerch()">
            <label class="btn btn-outline-primary" for="btn-check-outlined" appHtmlFor [appHtmlForInput]="cheak3">В
                цеху</label>

            <input type="checkbox" class="btn-check" autocomplete="off" #cheak5 [(ngModel)]="SearchAtCounterparties"
                [ngModelOptions]="{standalone: true}" (change)="UpdateSerch()">
            <label class="btn btn-outline-primary" for="btn-check-outlined" appHtmlFor [appHtmlForInput]="cheak5">У
                контрагентов</label>

            <input type="checkbox" class="btn-check" autocomplete="off" #cheak6 [(ngModel)]="SearchUsedUp"
                [ngModelOptions]="{standalone: true}" (change)="UpdateSerch()">
            <label class="btn btn-outline-primary" for="btn-check-outlined" appHtmlFor
                [appHtmlForInput]="cheak6">Израсходован</label>
        </div>
    </div>
    <div class="w-100">
        <div class="my-table">
            <div class="list-of-rolls-grid-container header">
                <div class="item">Id</div>
                <div class="item">Наименнование</div>
                <div class="item">Поставщик</div>
                <div class="item">Цвет</div>
                <div class="item">Материал</div>
                <div class="item">Коментарий</div>
                <div class="item">Количество в упаковке</div>
                <div class="item">Ячейка склада</div>
                <div class="item item_last">Дата Прихода</div>
            </div>
            <div class="body">
                <app-roll-on-list *ngFor="let item of FitsRoolsArr;let index=index" [Roll]="item"
                    [EvenElement]="index%2===0">
                </app-roll-on-list>
            </div>
        </div>
    </div>
</div>